.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.votes {
  text-align: right;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link {
    text-decoration: none;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
